<div class="container">
  <h1>New Cocktail</h1>
<div class="row">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit %>
  <% end %>
</div>
  <div class="link"> <%= link_to "New Cocktail", new_cocktail_path %>
    </div>
</div>

